# Unity生成的文件夾
   [Ll]ibrary/
   [Tt]emp/
   [Oo]bj/
   [Bb]uild/
   [Bb]uilds/
   [Ll]ogs/
   [Uu]ser[Ss]ettings/

   # Unity3D生成的meta文件
   *.pidb.meta
   *.pdb.meta
   *.mdb.meta

   # Unity3D生成的文件
   *.unitypackage

   # Crashlytics生成的文件
   crashlytics-build.properties

   # 操作系統生成的文件
   .DS_Store
   .DS_Store?
   ._*
   .Spotlight-V100
   .Trashes
   ehthumbs.db
   Thumbs.db